/* GRAPHICAL ENVIRONMENT */
body {
   
    overflow-x:hidden; 
    overflow-y:hidden
}

.conteiner {
    width: 1728px;
    height: 820px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.containGame {
    height: 100%;
    width: 100%;
    
}
.gameOver {
    visibility: visible;
    position: absolute;
    width: 300px;
    height: 199px;
    top: 10%;
    left: 37%;
    background: transparent url(../images/context/game-over.png) no-repeat center;
    z-index: 4;
}
.logoGame {
    visibility: visible;
    position: absolute;
    width: 300px;
    height: 203px;
    top: 10%;
    left: 37%;
    background: transparent url(../images/context/logoGame.png) no-repeat center;
    z-index: 4;
}

.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.text {
    visibility: 'visible';
    position: absolute;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 38%;
    left: 39%;
    z-index: 4;
    color: white;   
}

.startButton {
    visibility: visible;
    width: 150px;
    height: 150px;
    justify-content: center;
    position: absolute;
    z-index: 4;
    background: transparent url(../images/context/playButton.png) no-repeat center;
    border: none;
    font-weight: 500;
    font-size: 15px;
    bottom: 45%;
    left: 46%;
} 

.startButtonOn:hover {
    transform: scale(1.25);
    opacity: .7;
    /* color: red; */
}
.barfButton {
    visibility: visible;
    width: 150px;
    height: 150px;
    justify-content: center;
    position: absolute;
    z-index: 4;
    background: transparent url(../images/context/barfButton.png) no-repeat center;
    border: none;
    font-weight: 500;
    font-size: 15px;
    bottom: 45%;
    left: 38%;
} 

.barfButtonOn:hover {
    transform: scale(1.25);
    opacity: .7;
    /* color: red; */
}
.killButton {
    visibility: hidden;
    width: 150px;
    height: 150px;
    justify-content: center;
    position: absolute;
    z-index: 4;
    background: transparent url(../images/context/killButton.png) no-repeat center;
    border: none;
    font-weight: 500;
    font-size: 15px;
    bottom: 45%;
    left: 46%;
}

.killButtonOn:hover {
    transform: scale(1.25);
    opacity: .7;
    color: green;
}

/* CHARACTER */
.characterMotionless{
    display: absolute;
    width: 183px;
    height: 270px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    background: url(../images/character/zombie.png) no-repeat left center;
    z-index: 0;
}

.characterRun {
    display: flex;
    width: 183px;
    height: 270px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    background: url(../images/character/runZombie.png) no-repeat left center;
    animation: run .8s steps(5) infinite;
    z-index: 0;
}
@keyframes run {
    100% { background-position: -911px; }
}

.characterJump {
    width: 183px;
    height: 270px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    background: url(../images/character/jumpZombie.png) no-repeat left center;
    animation: jump 1.9s steps(7);
    z-index: 0;
}
@keyframes jump {
    0% { bottom: 5% }
    20% { bottom: 5% }
    25% { bottom: 10% }
    50% { bottom: 20% }
    75% { bottom: 10% }
    80% { bottom: 5% }
    100% { background-position: -1296px; 
        bottom: 5% }
} 

.characterDead {
    width: 270px;
    height: 238px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    background: url(../images/character/deadZombie.png) no-repeat left center;
    animation: dead 1.1s steps(8);
    /* animation-play-state: paused; */
    z-index: 0;
}
@keyframes dead {
    100% { background-position: -2183px; }
}

.characterBarf {
    width: 190px;
    height: 238px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    background: url(../images/character/barfZombie.png) no-repeat left center;
    animation: barf 1.5s steps(5);
    z-index: 0;
}
@keyframes barf {
    100% { background-position: -925px; }
}

/*
.characterWalk {
    display: flex;
    width: 192px;
    height: 350px;
    position: fixed;
    bottom: 5%;
    left: 33%;
    background: url(../images/character/walkZombieMAX.png) no-repeat left center;
    animation: walk 1.5s steps(6) infinite;
    z-index: 0;
}
@keyframes walk {
    100% { background-position: -1159px; }
} */



.characterDown {
    display: none;
    width: 206px;
    height: 214px;
    position: absolute;
    bottom: 5%;
    left: 30%;
    background: url(../images/character/headDownZombie.png) no-repeat left center;
    animation: down 1.5s steps(5) infinite;
    z-index: 0;
}
@keyframes down {
    100% { background-position: -1030px; }
}

/*OBSTACLES*/
@keyframes obstacle {
    from {transform: translate(1728px, 0px)}
    to {transform: translate(-1728px, 0px)}
}


.obstacleRock {
    visibility: visible;
    width: 100px;
    height: 64px;
    position: absolute;
    bottom: 5%;
    background: transparent url(../images/obstacles/rock.png) no-repeat right;
    animation: obstacle 17s linear infinite;
    z-index: 2;
}     

.obstacleThorn {
    visibility: visible;
    width: 100px;
    height: 64px;
    position: absolute;
    bottom: 5%;
    background: transparent url(../images/obstacles/thorn.png) no-repeat left;
    animation: obstacle 10s linear infinite;
    z-index: 2;
}

 .obstacleBomb {
    visibility: visible;
    width: 100px;
    height: 64px;
    position: absolute;
    bottom: 5%; 
    background: transparent url(../images/obstacles/bomb.png) no-repeat right center;
    animation: obstacle 5s linear infinite;
    z-index: 2;
}

/* @keyframes obstacle2 { 
    100% { background-position: -100px; }
} */

/* BACKGROUND */
@keyframes ground { 
    100% { background-position: -1728px; }
}

.fogGreen {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    background: transparent url(../images/background/fogGreen.png) repeat left center;
    animation: ground 70s linear infinite;
    z-index: 0;
}

.fog {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/fog.png) repeat left center;
    animation: ground 90s linear infinite;
    z-index: 3;
}  

.backgroundMotionless {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/background/pruebas/background.png);
    background-size: cover;
    z-index: -1; 
}

.background_L1 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_1.png) repeat left center;
    background-size: cover;
    animation: ground 12s linear infinite;
    z-index: -2;
}

/* .background_L1_no-motion {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_1.png);
    background-size: cover;
    animation: ground 12s paused infinite;
    z-index: -2;
} */

.background_L2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_2.png) repeat left center;
    background-size: cover;
    animation: ground 35s linear infinite;
    z-index: -3;
}

.background_L3 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_3.png) repeat left center;
    background-size: cover;
    animation: ground 50s linear infinite;
    z-index: -4;
}

.background_L4 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_4.png) repeat left center;
    background-size: cover;
    animation: ground 75s linear infinite;
    z-index: -5;
}

.background_L5 {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_5.png) repeat left center;
    background-size: cover;
    animation: ground 90s linear infinite;
    z-index: -6;
} 

.background_L6 {
    display: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent url(../images/background/pruebas/background_6.png);
    background-size: cover;
    z-index: -7;
}





